*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(270deg, #fffdd5, #fff7f9);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.form h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: -20px;
}
.form hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 25px;
}
.content-input{
    background-color: #e4e3e3;
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    /* color: #6660; */
    border-radius: 50px;
}
textarea{
    background-color: #e4e3e3;
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    /* color: #6660; */
    border-radius: 50px;
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.content-input:focus, textarea:focus{
    border: 2px solid #ff994f;
}
.content-input::placeholder, textarea::placeholder{
    color: #a9a9a9;
}
.form button{
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}




.popup{
    width: 400px;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 50%;
    visibility: hidden;
    transition: 0.4s top 0.2s;
    /* display: none; */
}
.open-btn{
    /* display: block; */
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
}
.popup img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -50px;
}
.popup h2{
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
}
.popup button{
    width: 100%;
    color: #fff;
    background-color: #08b408;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    border: none;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
}
.popup button:hover{
    background-color: #37b637; 
}